<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ZFeng</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="__CSS__/main.css" />
        {block name="css"}
        {/block}
    </head>
    <body>
        {block name="header"}
        {/block}
        {block name="menu"}
        {/block}
        {block name="content"}
        {/block}
        {block name="footer"}
        {/block}
        {block name="js"}
        {/block}
        <script src="__JS__/jquery.min.js"></script>
        <script src="__JS__/jquery.scrolly.min.js"></script>
        <script src="__JS__/jquery.scrollex.min.js"></script>
        <script src="__JS__/skel.min.js"></script>
        <script src="__JS__/util.js"></script>
        <script src="__JS__/main.js"></script>
    </body>
</html>
