<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>ishop 后台管理</title>
        {block name="css"}{/block}
        <link rel="stylesheet" href="/static/layui/css/layui.css">
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            {block name="header"}{/block}
            {block name="menu"}{/block}
            <div class="layui-body">
                <!-- 内容主体区域 -->
                {block name="body"}{/block}
            </div>
            {block name="footer"}{/block}
        </div>
        <script src="/static/layui/layui.js"></script>
        {block name="js"}{/block}
        <script>
        //JavaScript代码区域
            layui.use('element', function () {
                var element = layui.element;

            });
        </script>
        {block name="script"} {/block}
    </body>
</html>
